.home-flashsale .rainbow-item-1 {
  border-top-color: #ffac13;
}
.home-flashsale .rainbow-item-2 {
  border-top-color: #81ecec;
}
.home-flashsale .rainbow-item-3 {
  border-top-color: #ea8685;
}
.home-flashsale .rainbow-item-4 {
  border-top-color: #a55eea;
}